<% include header %>

<div class="container-fluid wrap">
    <div class="row">
      <div class="col-sm-12">
        <div class="heads">
          <h1>Wellcome to Bricks2Share</h1>
          <p>There are over 13700 sets in LEGO bricks.Bricks2Share is a place to share latest brick sets news with other lego lovers and track the most popular brick sets!</p>
          <div class="heads_btns">
            <a href="/users/singlelogin" class="btn btn-primary btn-lg heads_log" role="button">Log In</a> 
            <a href="/users/signup" class="btn btn-primary btn-lg head_submit" role="button">Sign up</a>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
          <div class="col-xs-11 col-md-7">
              <h1 style="text-align: center">Brick New - It's all about the Bricks!</h3>
                <% var index=0, text=[];%>
                
                <% story.forEach(function(elem){%>
                  <div class="media-box">
                        <div class="post-text">
                          <h3><%= elem.title %></h3>
                          <div class="author">
                            By
                            <cite><%= elem.source %></cite>
                            on
                            <span class="published">
                              <%=(elem.updatedAt.getMonth()+1)+' / '+(elem.updatedAt.getDate())+' / '+(elem.updatedAt.getFullYear())%>
                            </span>
                          </div>
                          <div class="media">
                           <div class="media-left">
                            <img src="<%= elem.img_src%>" alt="" width="140px" height="100px" margin-bottom="1em">
                            </div>
                          <div class="media-body" data-id='<%= storyLike[index]%>'>
                            <p ><%= text = elem.contents.split("\r") %>
                              <% for (j = 0; j < text.length; j++) { %> 
                                  <%=  text[j]  %> <br>
                              <% }%>
                            </p>    
                              <div class="extended articlelike_btn" data-id='<%= elem.id%>'>
                                    <button class="star">Like  
                                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 
                                     <span class='likeCount'><%= storyLike[index]%></span>
                                     </button>
                              </div>
                          </div>
                        </div>
                      </div>            
                    </div>
                   <% index = index + 1; %> 
                  <% }); %>
        </div> <!-- end of left content block -->
        <div class="col-xs-11 col-md-5 content_right">
          <h3>Top 10 brick sets</h3>
          <ul class="nav nav-tabs" role='tablist' style="margin-bottom:5px font-size: 1em color: black">
            <li role='presentation' class="active" id="all"><a href="#callist_want" data-toggle='tab'>Most Wanted</a></li>
            <li role='presentation' id="theme"><a href="#callist_own" data-toggle='tab'>Most Owning</a></li>
          </ul>
          <div class="tab-content">            
              <div role='tabpanel' class="tab-pane fade in active list-group" id="callist_want">
                <% topWantSets.forEach(function(elem){ %>
                  <a href="#" class="list-group-item ">

                    <img class="index_tabimg" src="<%= elem.img_sm%>" alt=""  width="40px" height="40px" background-color="gray">
                    <div class="index_tabtext">
                       &nbsp&nbsp&nbsp Set Name:&nbsp&nbsp&nbsp<%= elem.descr%> <br>
                       &nbsp&nbsp&nbsp Set ID:&nbsp&nbsp&nbsp<%= elem.set_id %>  
                    </div>
                  </a>
                <% }); %>
             </div>
               <div role='tabpanel' class="tab-pane list-group_theme fade" id="callist_own">
                <% topOwnSets.forEach(function(elem){ %>
                  <a href="#" class="list-group-item ">
                    <img src="<%= elem.img_sm%>" alt=""  width="40px" height="40px" background-color="gray">
                    <%= elem.descr+"   "+ elem.set_id %>
                  </a>
                <% }); %>
             </div>
          </div>
      </div>
  </div>
</div>

<% include footer %>