<% include header %>

<div class="container-fluid wrap" data-id="<%= singleset.id %>">
  <div class="row ">
    <div class="col-md-12">
     <h2>Detail for <%= singleset.set_id+"   "+singleset.descr%> </h2>
    </div>
  </div>
  <div class="row ">
      <div class="col-md-12 header">
     <h1 >LEGO Brick Set <%= singleset.set_id+"   "+singleset.descr%></h1>
    </div>
  </div>
  <div class="row single_content ">
    <div class="col-md-6 single_img">
     <img src="<%= singleset.img_big%>" alt="" class="img-thumbnail">
    </div>
    <div class="col-md-6 ">

      <div class="single_details single_desc">
        <h3>Set Details</h3>
        <table class="table table-striped">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td>Theme</td>
                <td><%= singleset.theme %></td>
              </tr>
              <tr>
                <td>Year Released</td>
                <td><%= singleset.year %></td> 
              </tr>
              <tr>
                <td>Number of Parts</td>
                <td>100</td> 
              </tr>
               <tr>
                <td>Price</td>
                <td>USD $20</td>
              </tr>
               <tr>
                <td>Buy</td>
                <td><a href="www.ebay.com">Ebay</a> <a href="www.lego.com">LEGO</a></td>
              </tr>
            </tbody>
          </table>

       </div>
    

      <div class="single_details"  data-id='["<%= singleset.set_id%>","<%= singleset.descr%>","<%= singleset.theme%>","<%= singleset.year%>","<%= singleset.img_sm%>","<%= singleset.img_tn%>","<%= singleset.img_big%>"]'>
          <h3>Collection</h3>
          <div class="single_collection_data">
            <h4>The Community</h4>
            <p> >>> <span id='collection_own'><%= ownCount %></span>  people own this set</p>
            <p> >>><span id='collection_want'><%= wantCount %></span>  want this set</p> 
            <h4>Your collection</h4>
            <p> >>>You own <span id='collection_youown'><%= checkOwnSum %></span> of this set</p>
          </div>
          <form action="">
            <div class="single_btn">
              <button type="button" class="btn btn-primary active single_btn" id="single_own">I Own It</button>
              <button type="button" class="btn btn-primary active single_btn" id="single_want">I Want It</button>
            </div>
          </form>
       </div>

  </div>

</div>

<% include footer %>